<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/metro-ui/css")
    <link rel="stylesheet" href="~/css/metro-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/iconFont.min.css" />
    <script src="~/js/metro.min.js"></script>
</head>
<body class="metro">
    <h1 class="h1"><img src="~/Images/LMS.png" /></h1>

    <nav class="navigation-bar dark">
        <nav class="navigation-bar-content">
            <div class="element">
                <a class="dropdown-toggle" href="#">METRO UI CSS</a>
                <ul class="dropdown-menu dark" data-role="dropdown" style="">
                    <li><a href="#">Main</a></li>
                    <li><a href="#">File Open</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Print...</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Exit</a></li>
                </ul>
            </div>

            <span class="element-divider"></span>
            <a class="element brand" href="#"><span class="icon-spin"></span></a>
            <a class="element brand" href="#"><span class="icon-printer"></span></a>
            <span class="element-divider"></span>

            <div class="element input-element">
                <form>
                    <div class="input-control text">
                        <input type="text" placeholder="Search...">
                        <button class="btn-search"></button>
                    </div>
                </form>
            </div>

            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right dark" data-role="dropdown">
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Download</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Buy Now</a></li>
                </ul>
            </div>
            <span class="element-divider place-right"></span>
            <a class="element place-right" href="#"><span class="icon-locked-2"></span></a>
            <span class="element-divider place-right"></span>
            <button class="element image-button image-left place-right">
                Sergey Pimenov
                <img src="~/images/211858_100001930891748_287895609_q.jpg" />
            </button>
        </nav>
    </nav>


    <div class="tile half bg-lightBlue pos-rel">
        <div class="tile-content icon">
            <span class="icon-windows"></span>
        </div>
    </div>
    <div class="tile half bg-orange pos-rel">
        <div class="tile-content icon">
            <span class="icon-music"></span>
        </div>
    </div>
    <div class="tile half bg-teal pos-rel">
        <div class="tile-content icon">
            <span class="icon-facebook"></span>
        </div>
    </div>
    <div class="tile half bg-green pos-rel">
        <div class="tile-content icon">
            <span class="icon-twitter"></span>
        </div>
    </div>

    <div class="span4 place-right">
        <nav class="sidebar dark">
            <ul>
                <li class="title">Items Group 1</li>
                <li class="active"><a href="#"><i class="icon-home"></i>Dashboard</a></li>
                <li class="stick bg-red"><a href="#"><i class="icon-cog"></i>Layouts</a></li>
                <li class="stick bg-yellow">
                    <a class="dropdown-toggle" href="#"><i class="icon-tree-view"></i>Sub menu</a>
                    <ul class="dropdown-menu" data-role="dropdown">
                        <li><a href="">Subitem 1</a></li>
                        <li><a href="">Subitem 2</a></li>
                        <li><a href="">Subitem 3</a></li>
                        <li class="divider"></li>
                        <li><a href="">Subitem 4</a></li>
                        <li class="disabled"><a href="">Subitem 4</a></li>
                    </ul>
                </li>
                <li class="stick bg-green"><a href="#">Thread item</a></li>
                <li class="disabled"><a href="#">Disabled item</a></li>

                <li class="title">Items Group 2</li>
                <li><a href="#">Other Item 1</a></li>
                <li><a href="#">Other item 2</a></li>
                <li><a href="#">Other item 3</a></li>
                <li>
                    <a class="dropdown-toggle" href="#">Sub menu 2</a>
                    <ul class="dropdown-menu" data-role="dropdown">
                        <li><a href="">Subitem 1</a></li>
                        <li><a href="">Subitem 2</a></li>
                        <li><a href="">Subitem 3</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div class="span4 place-right">

    <div class="span4">
     @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/metro-ui")
    @RenderSection("scripts", required: false)
</body>
</html>
